#info{
  background-color:#333;
  color:#fff;
  text-align:center;	
  padding:20px;	
	
}

#info .contenedor{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;	
	
	
}

.info-fashion{
	margin:20px;	
	
}


.info-fashion img{
	width:180px;
	height:180px;
	border-radius:50%;
	border:5px solid #fff;
	
}
