#noticia-interior h3, h4{
  text-align:center;
  font-size:18px;	
}
#noticia-interior h2{
 text-align:center;	
	
}

#noticia-interior p{
  font-size:15px;		
  text-align:justify;
	
}
#noticia-interior .contenedor{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
}



#noticia-interior img{
	width:100%;
	max-width:280px;
}

.row{
	width:90%;
	margin:20px auto;
}




@media (min-width:1024px){
	#noticia-interior .columnas{
	  width:45%;
	  margin-top:10px;
   	  display:inline-block;	
	   
	
	}
	
	#noticia-interior .columnas img{
		max-width:400px;	
		
	}
	
	#noticia-interior .columnas p{
		text-align:justify;	
		margin-bottom:20px;
	}
	
	.row{
		width:80%;	
		margin:0 auto;
		
	}
	
	.boton-volver{
		width: auto;
		height: auto;
		background-color: #ccc;
		border-radius: 7px;
		text-align: center;
		font-size: 15px;
		padding: 2px 9px;
		color: #fff;
		margin-top:20px;	
		text-decoration:none;
	}
	
  	
}